<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <h2>
      <%= I18n.t('error.saving_failed_due_to') %> <%= I18n.t :error, count: resource.errors.count %>:
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
